<% title 'Guida analisi tecnica: le Doji | ' + $appName %>
<% meta_tag :description, 'Principi di analisi tecnica: le Doji' %>
<% meta_tag :keywords, 'analisi, tecnica, principi, guida, azioni' %>

<% meta_tag :ogtitle, 'Guida analisi tecnica: le Doji | ' + $appName %>
<% meta_tag :ogdescription, 'Principi di analisi tecnica: le Doji' %>


<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                
                <h2>Le Doji</h2>
            
            </section>
        </div>
	</div>
</main>