<% title 'Guida analisi tecnica: MACD (Moving Average Convergence/Divergence) | ' + $appName %>
<% meta_tag :description, 'Principi di analisi tecnica:  MACD (Moving Average Convergence/Divergence)' %>
<% meta_tag :keywords, 'analisi, tecnica, principi, guida, azioni' %>

<% meta_tag :ogtitle, 'Guida analisi tecnica: MACD (Moving Average Convergence/Divergence) | ' + $appName %>
<% meta_tag :ogdescription, 'Principi di analisi tecnica: MACD (Moving Average Convergence/Divergence)' %>


<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                
                <h2>MACD (Moving Average Convergence/Divergence)</h2>
            
            </section>
        </div>
	</div>
</main>