<% title 'Guida analisi tecnica: gli Spike | ' + $appName %>
<% meta_tag :description, 'Principi di analisi tecnica: gli Spike' %>
<% meta_tag :keywords, 'analisi, tecnica, principi, guida, azioni' %>

<% meta_tag :ogtitle, 'Guida analisi tecnica: gli Spike | ' + $appName %>
<% meta_tag :ogdescription, 'Principi di analisi tecnica: gli Spike' %>


<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                
                <h2>Gli Spike</h2>
            
            </section>
        </div>
	</div>
</main>