<% title 'Guida analisi tecnica: la figura Testa e spalla (Head and shoulders) | ' + $appName %>
<% meta_tag :description, 'Principi di analisi tecnica: la figura Testa e spalla (Head and shoulders)' %>
<% meta_tag :keywords, 'analisi, tecnica, principi, guida, azioni' %>

<% meta_tag :ogtitle, 'Guida analisi tecnica: la figura Testa e spalla (Head and shoulders) | ' + $appName %>
<% meta_tag :ogdescription, 'Principi di analisi tecnica: la figura Testa e spalla (Head and shoulders)' %>


<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                
                <h2>La figura Testa e spalla (Head and shoulders)</h2>
            
            </section>
        </div>
	</div>
</main>