<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <h1>Editing Url</h1>
                <%= render 'form', url: @url %>
                <%= link_to 'Show', @url %> |<%= link_to 'Back', urls_path %>
            </section>
        </div>
    </div>
</main>
