<% title $appDescription %>
	
		
<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
            	<header class="page-header">
				    <h1 class="entry-title">
				    	Contatti					        
				    </h1>
				</header>
				<div>
					Questa pagina conterrà presto un form per poter contattare chi amministra il sito. <br/><br/>
				
					Nel frattempo è possibile inviare una mail a: <%= mail_to "info@tradingradar.net", "info@tradingradar.net" %>
				</div>	                
            </section>	            	            
        </div>
    </div>
</main>