<main id="main" class="site-main" role="main">
    <div id="content" class="site-content container">
        <div class="container main-content-area">
            <div class="row">
                <section id="primary" class="widget-area col-sm-12 col-md-12" role="complementary">
                    <h1>Editing Stock</h1>
                    <%= render 'form', stock: @stock %>
                    <%= link_to 'Show', @stock %> |<%= link_to 'Back', stocks_path %>
                </section>
            </div>
        </div>
    </div>
</main>
