<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <h1>Editing Stock</h1>
                <%= render 'form', stock: @stock %>
                <%= link_to 'Show', @stock %> |<%= link_to 'Back', stocks_path %>
            </section>
        </div>
    </div>
</main>
