$maxCentralColumnWidth: 85%;
$leftColWidth: 12%;
$navSectionHeight: 65px;
$centralColumnWidth: 100%;
$pageMargin: 12px;
$paragraphMargin: 10px;
$titleColor: $highlight;
$firstBGColor: #F7F7F7;
$secondBGColor: rgba(42, 63, 84, 1);
$textColor: $black;
$firstColor: rgba(42, 63, 84, 0.5);;
$secondColor: #4FB2CA;
$fontFamilyTitle: Arial,Helvetica,sans-serif;
$fontFamily: Arial,Helvetica,sans-serif;
$fontSizeDesktop: 12px;
$fontSizeMobile: 12px;
body {
    font-family: sans-serif;
    color: $black;
    background-color: $firstBGColor;
}
#main-wrapper {
    width: $maxCentralColumnWidth;
    margin: 0 auto;
    font-family: $fontFamily;
    font-size: $fontSizeDesktop;
    color: $textColor;
    position: relative;
    overflow: hidden;
    background-color: $firstBGColor;
	
	
    p {
        margin-bottom: $paragraphMargin;
        font-family: $fontFamily;
        font-weight: normal;
        font-size: 100%;

        @include moreReadable;
    }

    div {
        @include moreReadable;
    }
	
    .section {
        padding: 0 $pageMargin;
    }
	
    .btn {
        @extend .btn;
        font-family: $fontFamilyTitle;
        .primary {
            @extend .primary;
        }
        .secondary {
            @extend .secondary;
        }
        .right_arrow {
            text-indent: -99999px;
            background: url("../img/arrow-white.png") no-repeat;
        }
    }
	
    .title {
        font-family: $fontFamilyTitle;
        font-size: 130%;
        margin-bottom: 20px;
        color: $secondBGColor;

        @include moreReadable;
    }
	
    .subtitle {
        text-align: center;
        font-family: $fontFamilyTitle;
        font-size: $font-larger;

        @include moreReadable;
    }
	
    .text {
        margin: 0 0 $pageMargin 0;
        line-height: 130%;
        text-align: justify;
    }
	
    .section {
        margin: 30px 0;
    }
	
    header {
        padding-top: 10px;
    }
	
    h1 {
        @extend .title;
        font-size: $font-huge;
    }
	
    h2 {
        @extend .title;
    }
	

    .img-logo-small {
        max-height: 30px;
        vertical-align: middle;
        image-rendering: -webkit-optimize-contrast;
        margin-left: 10px;
    }
	
    .main-logo {
        height: $navSectionHeight;
        padding: 0 5px;
        image-rendering: -webkit-optimize-contrast;
    }
	
    .info {
        color: $dark-gray;
		margin-bottom: 15px;
        i {
            padding-right: 7px;
        }
    }

    .content {
        color: $dark-gray;
		font-size: 110%;
    }

    .keywords {
        color: $dark-gray;
        font-size: $font-small;
        margin: 10px 0;
        text-align: center;
    }
	
    .error {
        font-style: bold;
        color: $highlight;
		font-size: 110%;
    }
	
	.return {
	    margin-top: 20px;
		font-size: 110%;
	}
	
	
	/*LEFT COLUMN*/
    .left_col {
    	
		.scroll-view {
			width: 100%;
		}
    	
		
        .profile {
            height: $navSectionHeight;
			
			.profile_pic {
				width: 30%;
				float: left;
			}
            .profile_info {
                width: 70%;
    			float: right;
				padding:0;
                h2 {
                    display: inline-block;
                }
            }
			
        }
        #sidebar-menu {
            .menu_section {
                ul {
                    margin-top: 0;
                }
                li {
                    padding: 5px 15px;
                    border-top: 1px solid $firstBGColor;
                    border-bottom: 1px solid $firstBGColor;
                    margin: -1px;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $firstBGColor;
                        span, a {
                            color: $secondBGColor;
                        }
                    }
                }
                .date {
                    color: $firstBGColor;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    padding: 13px 15px 12px;
                    cursor: default;
                    font-size: 100%;
                    margin-bottom: 20px;
                    span {
                        padding: 5px 0 0 27px;
                        display: block;
                    }
                }
            }
			
			
            .nav-sm & .date {
                display: none;
            }
        }
    }
	
	/*TOP BAR*/
    .top_nav {
        .navbar-right {
            width: inherit;
        }
    }
	
	/*FOOTER*/
    footer {
        margin-left: 10%;
        .pull-right {
            color: $dark-gray;
            margin: 0px 20px 0 0;
            line-height: 29px;
        }
    }
}