.stock_page {
	
#primary {

    > section {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee;
    }
    
}



.anchors {
    .anchors {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .anchor-link {
        margin: 5px 15px;
        img {
            padding: 3px;
            opacity: .6;
            cursor: auto;
            &:hover {
                background-color: #999;
            }
            &.ready {
                opacity: 1;
                cursor: pointer;
            }
            &.error {
                opacity: .6;
                cursor: pointer;
            }
        }
    }
}

.ext-source {
	
	.img-logo {
	    margin-bottom: 5px;
	    max-height: 50px;
	}

    .pr-section {

        table {
            font-size: 85%;
        }
        

    	margin: 30px 0;
	    a, .-indice, a[href="/azioni/legenda.htm"], div.m-tabs, .dettaglio_container, .xpie6fix .xpmodule.twocolsleft .titolo-dati-box, .xpie6fix .xpmodule.twocolsleft .group, .xpcorG3, .realtime, a[href="/investimenti-personali/inserisci-alert?StockCodeRt=00c0&codiceStrumento=w2ae"], a[href="/investimenti-personali/aggiungi-titoli-portafoglio?codiceStrumento=w2ae&titolo=A2A"], a[href="/investimenti-personali/aggiungi-titoli-selezione?codiceStrumento=w2ae&titolo=A2A"], .spandata, .prezzo {
	        display: none;
	    }
	    table {
	        @extend .tablesorter;
	    }
        background-image: image-url("loader.gif");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 40px;
        min-height: 200px;
        &.loaded {
            background-image: none;
        }
        &.ready {
            opacity: .6;
            cursor: pointer;
        }
    }
}


.chart-image {
    text-align: center;
}

.note {
    padding: 20px 10px;
    font-style: italic;
}

.borsa-italiana {
    h3 {
        text-transform: capitalize;
    }
    .m-table td {
        border: 1px solid #DDD;
        max-width: 100%;
    }
    .-sm-half {
        display: inline-block;
        margin-right: 20px;
    }
    .-right {
        font-style: italic;
    }
    strong {
        font-weight: bold;
    }

    table {
        max-width: 50%
    }
    
    
}


div.sole-24-ore {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	
    table tbody td {
        max-width: 100%;
        border: 1px solid #DDD;
    }
    .pr-content {
        margin: 0 10px;
    }
    .xpF1, .xpF2 {
        font-weight: bold;
    }
    .xpie6fix {
        table:nth-child(3) {
            display: none;
        }
    }
}


div.la-repubblica {
	
	.titolo-scheda {
		font-size: 150%;
	}
    .TLB-clear {
        clear: both;
    }
    .TLB-header-base-snapshot .TLB-LeftFloated {
        float: left;
        padding: 0 20px;
    }
    .TLB-Profilo-Societario .TLB-data-list {
        display: none;
    }
    .TLB-analisi-container .TLB-data-list {
        float: left;
        margin-right: 50px;
        b {
            margin-right: 20px;
        }
        li {
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #999;
        }
    }
    .JCF-analisi-container, nav {
        display: none;
    }
    .TLB-header-title {
        font-weight: bold;
    }
    .chart-area, .TLB-range-bar {
        display: none;
    }
    .header-data {
        span {
            margin-left: 5px;
            font-style: italic;
            font-weight: bold;
        }
    }
    .TLB-range-Large-Text {
        float: left;
        margin-right: 20px;
    }
    .TLB-range-Small-Text {
        font-style: italic;
    }
    .TLB-range-max {
        margin-left: 0!important;
    }
    .fLeft.color-grey.margin-right {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .separator {
        display: none;
    }
    .linear-range {
        margin-top: 20px;
    }
}


.investing {
    ul {
        list-style-type: none;
    }
    .left {
        float: none;
    }
    table tbody td.redFont {
        color: red;
    }
    table tbody td.greenFont {
        color: green;
    }
    .noHover {
        font-weight: bold;
    }
    table tbody td {
        max-width: 100%;
        border: 1px solid #DDD;
    }
}

.investing-response {
    text-align: center;
    border: 1px solid #DDD;
    font-size: 140%;
    font-weight: bold;
    color: #FFF;
    display: block;
    &.wait {
        color: red;
    }
    &.buy {
        color:green;
    }
}


.milano-finanza {
    ul {
        list-style-type: none;
        padding: 0;
    }
    .fleft {
        float: left;
    }
    .clearfloat {
        clear: both;
    }
    .taright, .tacenter {
        margin: 0 13px;
    }
    .gradient.padding5.shadow a, .news a {
        display: inline;
    }
    .bold {
        font-weight: bold;
    }
    .bgees {
        font-style: italic;
    }
    table tbody td {
        max-width: 100%;
        border: 1px solid #DDD;
    }
    table {
        a {
            cursor: default!important;
        }
    }
    .wMax.mtop20.fleft {
        float: none;
        text-align: left;
        margin: 40px 0;
    }
    .didatabelle {
        font-weight: bold;
    }
    .info.font22 {
        margin-left: 5px;
        margin-right: 20px;
    }
}


.soldionline {
    ul {
        list-style-type: none;
        padding: 0;
    }

    .dati, .fond {
        float: left;
        margin-right: 40px;
        margin-bottom: 20px;
        b {
            font-weight: bold;
            margin-left: 10px;
        }
    }
    #lista-ultimenews {
        a {
            display: inline;
        }
    }
    .app, .leggituttenews {
        display: none;
    }
    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    }
    .second, .third {
        float: left;
        margin-right: 40px;
    }
	
	
}

}