.blog-post {
	padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid #ddd;
	
	.blog-continue {
		margin-left:10px;
		padding: 10px 0;
	}
}

.posts {
	#primary {
		img {
			image-rendering: -webkit-optimize-contrast;
		}
		
		table {
			@extend .tablesorter;
			
			th, td {
				padding: 3px;
			}
		}
		
		ul {
			padding: 0;
			li {
				margin-left: 20px;
			}
		}
		
		.borsait {
			background-image: url(/images/borsa-italiana-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.sol24 {
			background-image: url(/images/il-sole-24-ore-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.rep {
			background-image: url(/images/la-repubblica-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.mf {
			background-image: url(/images/milano-finanza-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.inv {
			background-image: url(/images/investing-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.sol {
			background-image: url(/images/soldi-on-line-logo-small.png);
		    background-repeat: no-repeat;
		    background-position: 100%;
		}
		
		.post-prev {
			float:right;
			margin-top: 20px;
		}
		
		.post-next {
			float:left;
			margin-top: 20px;
		}
		
		.study-image {
			display:block;
			margin: 0 auto;
			cursor:pointer;
		}
		
		.ref {
			background-color: #ffe7a3;
		    padding: 1px 3px;
		    border: 1px solid #ddd;
		}
		
		.fb-like {
		    margin: 60px 0 30px;
			display: block;
		}
		
		#fb-comments-wrapper {
			display: block;
		    text-align: center;
		    border-top: 1px solid #DDD;
		    border-bottom: 1px solid #ddd;
		    padding: 10px 0;
		    margin-bottom: 30px;
			
			.fb-comments {
				display: block;
			}

		}
		
		.not-my-fault {
			text-align: center;
		}
		
		
	}
}


@media (min-width: 768px) {
  .modal-dialog {
    width: 100%;
  }
}
