.site_title {
	i {
    	vertical-align: middle;
	}
	span {
		margin-left:5px;
		margin-right:30px;
	}
}

.custom-title {
	    font-size: 28px;
	h1 {
		display:inline;
		margin-right: 10px;
		font-size: 50px;
	}
}

.return {
	font-size: 120%;
}

.tile_count .tile_stats_count .count {
	  font-size: 130%;
	  line-height: 35px;
	  
	  & i {
	  	font-size: 120%;
	  }
	}
	
	.tile_count .tile_stats_count span {
	  font-size: 160%;
	}
	
	.tile_count .count_top i {
    	margin-right: 8px;
	}
	
	.tile_count .tile_stats_count span.count_bottom {
		font-size: 11px;
	    font-style: italic;
	}
	
	
	
	.form-horizontal .control-label {
    	font-weight: bold;
	}
	
	.form-horizontal select {
	  height: 60px;
	}
	
	
	
	.dataTables_wrapper > .row:last-child {
		overflow: hidden!important;
	}
	
	
	fieldset {
		display: block;
	    margin-left: 10px;
	    margin-right: 10px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    border: 1px solid #DDD;
		margin-bottom: 30px;
	}
	
	legend {
		display: inline-block;
	    background-color: #EEE;
	    line-height: 20px;
	    font-size: 130%;
	    padding-left: 20px;
	    border: 1px solid #DDD;
		width: 95%;
	    margin: 0 auto;
	}
	
	.sidebar-footer a { 
		width:100%;
	}
	
	.x_title {
	    border-bottom: 2px solid #E6E9ED;
	    padding: 0;
		margin: 0;
    }
	
	.x_content {
		padding: 0;
		margin: 0;
		}
	
	