/*$maxCentralColumnWidth: 85%;
$leftColWidth: 12%;
$navSectionHeight: 65px;
$centralColumnWidth: 100%;
$pageMargin: 12px;
$paragraphMargin: 10px;
$titleColor: $highlight;
$firstBGColor: #F7F7F7;
$secondBGColor: rgba(42, 63, 84, 1);
$textColor: $black;
$firstColor: rgba(42, 63, 84, 0.5);;
$secondColor: #4FB2CA;
$fontFamilyTitle: Arial,Helvetica,sans-serif;
$fontFamily: Arial,Helvetica,sans-serif;
$fontSizeDesktop: 12px;
$fontSizeMobile: 12px;*/


body {
    
}
#main-wrapper {
	
	.main-logo {
		image-rendering: -webkit-optimize-contrast;
	    height: 55px;
	    float: left;
	    top: -17px;
	    position: relative;
	    margin-right: 8px;
	}


    .hp-filter {
        .entry-meta {
            img {
                height: 25px;
                vertical-align: middle;
                image-rendering: -webkit-optimize-contrast;
            }

            small {
                margin-right: 5px;
                              
            }

            time {
                font-style: italic;
                font-size: 80%;  
            }
        }


        .filter-content {
            text-align: center;
            background-image: url('/images/loader.gif');
			background-repeat: no-repeat;
		    background-position: 50%;
            background-size: 40px;
            
            &.disabled {
                background: none;
                color: #DDD;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;                				
            }
            &.loaded {
				background: none;
			}
        }
        
        hr.section-divider {
            margin-top: 0;
            margin-bottom: 60px;
        }
    }

    .keywords, .disclaimer {
        text-align: center;	    
    }
	.keywords {
		font-style: italic;
	}
	
	.error {
        font-style: bold;
        color: red;
    }
	
	table {
		tr.repeated {
			font-weight:bold;
		}
			
		tr.green a {
			color: green;
		}
		
		tr.red a {
			color: red;
		}
	}
	
	.red {
		color: red;
	}
	
	.green {
		color: green;
    }
	
	.bold {
		font-weight:bold;
	}
    
    div, p {
        @include moreReadable;
    }
	
	.section {
        margin: 20px 0;
    }
	
	.breadcrumbs {
		i {
			margin-right:5px;
		}
	}
   
   /*
    width: $maxCentralColumnWidth;
    margin: 0 auto;
    font-family: $fontFamily;
    font-size: $fontSizeDesktop;
    color: $textColor;
    position: relative;
    overflow: hidden;
    background-color: $firstBGColor;
	
	
    p {
        margin-bottom: $paragraphMargin;
        font-family: $fontFamily;
        font-weight: normal;
        font-size: 100%;

        @include moreReadable;
    }

    div {
        @include moreReadable;
    }
	
    .section {
        padding: 0 $pageMargin;
    }
	
    .btn {
        @extend .btn;
        font-family: $fontFamilyTitle;
        .primary {
            @extend .primary;
        }
        .secondary {
            @extend .secondary;
        }
        .right_arrow {
            text-indent: -99999px;
            background: url("../img/arrow-white.png") no-repeat;
        }
    }
	
    .title {
        font-family: $fontFamilyTitle;
        font-size: 130%;
        margin-bottom: 20px;
        color: $secondBGColor;

        @include moreReadable;
    }
	
    .subtitle {
        text-align: center;
        font-family: $fontFamilyTitle;
        font-size: $font-larger;

        @include moreReadable;
    }
	
    .text {
        margin: 0 0 $pageMargin 0;
        line-height: 130%;
        text-align: justify;
    }
	
    .section {
        margin: 30px 0;
    }
	
    header {
        padding-top: 10px;
    }
	
    h1 {
        @extend .title;
        font-size: $font-huge;
    }
	
    h2 {
        @extend .title;
    }
	

    .img-logo-small {
        max-height: 28px;
        vertical-align: middle;
        image-rendering: -webkit-optimize-contrast;
        margin-left: 5px;
    }
	
    .main-logo {
        height: $navSectionHeight;
        padding: 0 5px;
        image-rendering: -webkit-optimize-contrast;
    }

    .logo {
        height: 35px;
        vertical-align: middle;
        margin: 5px;
        image-rendering: -webkit-optimize-contrast;
    }
	
    .info {
        color: $dark-gray;
		margin: 15px 0 10px 0;
        i {
            padding-right: 7px;
        }
    }

    .content {
        color: $dark-gray;
		font-size: 110%;
    }

    .keywords {
        color: $dark-gray;
        font-size: $font-small;
        margin: 10px 0;
        text-align: center;
    }
	
    .error {
        font-style: bold;
        color: $highlight;
		font-size: 110%;
    }
	
	.return {
	    margin-top: 20px;
		font-size: 110%;
	}
		
	
	

    .left_col {
    	
		.scroll-view {
			width: 100%;
		}
    	
			
        
        #sidebar-menu {
            .menu_section {
                ul {
                    margin-top: 0;
                    margin-bottom: 50px;
                }
                li {
                    border-top: 1px solid $firstBGColor;
                    border-bottom: 1px solid $firstBGColor;
                    margin: -1px;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $firstBGColor;
                        span, a {
                            color: $secondBGColor;
                        }
                    }
                }
                .date {
                    color: $firstBGColor;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    padding: 13px 15px 12px;
                    cursor: default;
                    font-size: 100%;
                    margin-bottom: 40px;
                    span {
                        padding: 5px 0 0 27px;
                        display: block;
                    }
                }
            }
			
			
            .nav-sm & .date {
                display: none;
            }
        }
    }
	
    .top_nav {
        .navbar-right {
            width: inherit;
        }
    }
	
    footer {
        margin-left: 10%;
        .pull-right {
            color: $dark-gray;
            margin: 0px 20px 0 0;
            line-height: 29px;
        }
    }*/
}



/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/*@media only screen and (max-width : 1600px) {
	#main-wrapper {
		font-size: 11px;
		width: 88%;
		
		.img-logo-small {
			max-height: 25px;
		    margin-left: 3px;
		}
		

	}
}*/
/*@media only screen and (max-width : 1400px) {
	#main-wrapper {
		font-size: 10px;
		
		.img-logo-small {
			max-height: 22px;
		}
	}
}*/
/*@media only screen and (max-width : 1300px) {
	#main-wrapper {
		font-size: 9px;	
		
		.img-logo-small {
			display:block;
		}
		
		.anchors .anchor-link img {
			width: 90px;
		}
	}
}*/
/*@media only screen and (max-width : 1100px) {
	#main-wrapper {
		.anchors .anchor-link {
			margin: 0 10px;
			img {
				width: 80px;
			}
		}
	}
}*/
/* Medium Devices, Desktops */
/*@media only screen and (max-width : 991px) {
	#main-wrapper {
		.container.body .right_col {
		    margin-left: 0;
		}
	}
}*/
/* Small Devices, Tablets */
/*@media only screen and (max-width : 768px) {
	#main-wrapper {
		.img-logo-small {
			display:inline;
		}
		.anchors {
			flex-wrap: wrap;
			
			.anchor-link {
				display: inline;
			}
		}
		 
	}
}*/
/* Extra Small Devices, Phones */ 
/*@media only screen and (max-width : 480px) {
	#main-wrapper {
		
	}
}*/
/* Custom, iPhone Retina */ 
/*@media only screen and (max-width : 320px) {
	#main-wrapper {
		
	}
}*/