// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome {
		.markets {
		padding-top: 70px;
	}

	.x_panel {
		
		.panel_toolbox > li {
			float: right;
		}
		
		.x_title {
			h2 {
				margin-bottom: 0;
				overflow: inherit;
			}
		}
		
		
		.x_content {
			overflow-y: auto;
	    	height: 80%;
		}
	}
}