// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#search-form {
	.btn {
	    display: inline-block;
	    width: initial;
	    padding: 0 10px;
	    margin: 0;
	    font-size: 100%;
	    border: 0;
	    vertical-align: baseline;
	}
	#search {
	    width: 180px;
		margin-left: 15px;
	}
} 

#search-by-name {
	div {
		display: flex;
	    justify-content: center;
		font-weight: bold;
		flex-wrap: wrap;
	}
	a {
		margin: 5px 15px;
		&.disabled {
		   pointer-events: none;
		   cursor: default;
		   font-weight: normal;
		}
		&.current {
			text-decoration:underline;
		}
	}
}

#last-post {
	
	background-color: #F8F8F8;
    padding: 10px 20px;
	
	.content {
	    margin: 20px 0;
	}
	
	img {
		float: left;
    	margin: 0 20px 10px 0;
		border: 1px solid #aaa;
	}
	
	h2,h3 {
		cursor:pointer;
	}
	
}

.top-section {
	display:none;
}


.filters {
	.filter-info {
		font-size: 95%;
	}
}

#primary, #secondary {
	section {
		margin-bottom:30px;
		padding-top:20px
	}
}
#tertiary {
	margin-bottom:20px;
}

p.site-description {
	            display: none;
	        }


#content {
	position:relative;
}





@media only screen and (min-width : 768px) {
	#search-by-name {
		a {
			margin: 5px 20px;
		}
	}
	
	.top-section {
		display:block;
	}
	
	#primary, #secondary {
		section {
			margin-bottom:60px;
			padding-top:0
		}
	}
}



@media only screen and (min-width : 1366px) {
	
	.large-screen-last-post {
		background-color: rgba(59, 59, 59, 0.9);
	    display: block;
	    color: #DDD;
	    width: 450px;
	    padding: 0px 20px;
	    position: absolute;
	    top: -330px;
	    right: 0;
	    height: 336px;
	    overflow: hidden;
		z-index: 999;
		border: 1px solid #666;
		font-size: 95%;
    	line-height: 130%;
		
		a {
			font-size:115%;
			
			&:hover {
				color: #DDD;
			}
		}
		
		img {
			width: 33%!important;
	    	height: 33%!important;
		}
		
		.entry-title, h3 {
			color:#DDD;
		}
		
		.page-header{
			padding-bottom: 0;
		}
		
		.entry-meta {
			display:none;
		}
	}



	.top-section {
		.flex-caption .excerpt {
			max-width: 510px;
			font-size: 105%;
	  	}
		.flex-caption h2 {
			max-width: 560px;
			font-size: 140%;
		}
	}
	
	#last-post {
		@extend .large-screen-last-post;
	}
}

@media only screen and (min-width : 1440px) {
	
	
		
	
}


@media only screen and (min-width : 1600px) {
	
	#last-post {
		    font-size: 100%;
			top: -380px;
			height:370px;
			
			.entry-meta {
				display: block;
			}
		}
		
	
}



/*@media only screen and (max-width : 1680px) {
	.last-post-wrapp {
	    top: -425px;   
	    height: 420px;	
	}
}

@media only screen and (max-width : 1440px) {
	.last-post-wrapp {
	    top: -370px;   
	    height: 380px;	
		
		.uptaded-at {
			display:none;
		}
	}
}


@media only screen and (max-width : 1280px) {
	.last-post-wrapp {
        top: -336px;
    	height: 315px;
		font-size: 95%;
		
		h2 {
			font-size: 22px;
		    margin-top: 12px;
    		margin-bottom: 8px;
		}
		
		h3 {
			font-size: 17px;
		}
		
		img {
			float: left;
	    	margin: 0 20px 10px 0;
		}
		
	}
	
	
}*/




