<footer>
    <div class="pull-right">
        <%= $appName %> <%= $appVersion %> - Template based on Gentelella by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix">
    </div>
</footer>
