<footer>
    <div class="pull-right">
        <%= $appName %> <%= $appVersion %> - <%= mail_to 'marco@tradingradar.net', 'Contatta l\'amministratore' %>- Template based on Gentelella by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix">
    </div>
</footer>
