<footer id="footer-area">
    <div class="container">
        <div class="footer-widget-area">
        	
            <div class="col-sm-6 col-md-4 footer-widget" role="complementary">
                <div id="nav_menu-2" class="widget widget_nav_menu">
                    <h3 class="widgettitle">Other Pages</h3>
                    <div class="menu-short-container">
                        <ul id="menu-short" class="menu">
                            <li class="menu-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item">
                                <a title="Cos&apos;&egrave; Trading Radar" href="#">Cos&apos;&egrave; Trading Radar</a>
                            </li>
                            <li class="menu-item">
                                <a title="Contatti" href="#">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			
            <div class="col-sm-6 col-md-4 footer-widget" role="complementary">
                <div id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            <%= image_tag 'trading-radar-logo-small-alpha.png', alt: $appName + ' logo' %>
                        </p>
                        <h3><%= $appName %>
                        </h3>
                        <p>
                            Awesome and completely free WordPress WooCommerce themes to take your ecommerce website to the next level.
                        </p>
                        <p>
                            If you are having problems with theme setup, please feel free to use Colorlib <a href="https://colorlib.com/wp/forums/" style="color:#eee">support forum</a>.
                        </p>
                    </div>
                </div>
            </div>
			
            <div class="col-sm-12 col-md-4 footer-widget" role="complementary">
                <div class="site-info">
                    <div class="copyright">
                        Template base on <a href="https://colorlib.com/dazzling/" title="Dazzling Demo">Dazzling Demo</a>
                        Theme by <a href="https://colorlib.com/wp/" target="_blank">Colorlib</a>
                        <div>
                            Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                        <div>
                            Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="fa fa-angle-up"></i>
    </div>
</footer>
