<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <div class="navbar nav_title navbar-right" style="border: 0;">
                        <a href="/" class="site_title">
							<%= image_tag 'trading-radar-logo-alpha.png', class: 'main-logo', alt: 'Trading Radar - Analisi, notizie e suggerimenti di trading per il mercato italiano - Logo' %>
						</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
