<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <div class="navbar nav_title navbar-right" style="border: 0;">
                        <a href="/" class="site_title"><img src="/images/AT-logo.png" alt="Agenda trading logo" class="main-logo"/></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
