<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <h1>Editing Analysis</h1>
                <%= render 'form', analysis: @analysis %>
                <%= link_to 'Show', @analysis %> |<%= link_to 'Back', analyses_path %>
            </section>
        </div>
    </div>
</main>
