<div class="filters">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Channels break out</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Channels break out" data-content="Stocks that are over or below all the resistance or the support for all the listed sites."><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Suggestions from Il Sole 24 Ore</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Suggestions from Il Sole 24 Ore" data-content="Stocks with a &quot;Molto rialzista&quot; Short Trend and a FTA Index more than 50 and an RSI more then 75. Based on Il Sole 24 Ore evaluation."><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Suggestions from Investing.com</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Suggestions from Investing.com" data-content="Stocks that have a &quot;Compra ora&quot; evaluation from Investing.com in the daily and mountly frame at least."><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
    </div>
	
	
	
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Over limits studies</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Over limits studies" data-content="These stocks have reached the support or the resistance in their study. This study has to be updated."><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Rising crossing stocks</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Rising crossing stocks" data-content="These stocks have a rising cross evaluation on your studies"><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Bullish divergence stocks</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Bullish divergence stocks" data-content="These stocks have a bullish divergence evaluation on your studies"><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
    </div>
	
	
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 hp-filter">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Suggestions from Milano Finanza</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a data-container="body" data-toggle="popover" data-placement="top" data-title="Suggestions from Milano Finanza" data-content="Stocks with a &quot;Molto rialzista&quot; Short Trend and a FTA Index more than 50 and an RSI more then 75. Based on Il Sole 24 Ore evaluation."><i class="fa fa-info"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                </div>
            </div>
        </div>
	</div>
	
	
</div>
