<article id="<%= id %>" class="hp-filter post type-post">
    <header class="entry-header page-header">
        <h2 class="entry-title"></h2>
        <div class="entry-meta">
            <div class="uptaded-at"><i class="fa fa-calendar"></i><small>Ultimo aggiornamento:</small>
                <time class="entry-date published" datetime="<%= $lastUpdate %>">
                    <%= $lastUpdate.strftime("%d/%m - %H:%M") %>
                </time>
            </div>
            <div class="cat-links"><i class="fa fa-newspaper-o"></i><small>Fonte:</small>
			
			</div>
        </div>
    </header>
    <div class="entry-content">
        <div class="filter-content col-sm-7">
        </div>
        <div class="filter-info col-sm-5">
            <h3></h3>
            <p>
            </p>
        </div>
    </div>
    <hr class="section-divider">
</article>