<aside class="widget">
    <h3 class="widget-title">Vai al filtro:</h3>
    <ul id="filters-links">
        <li>		
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#one" data-turbolinks="false">Violazione trendline per "Borsa Italiana"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#two" data-turbolinks="false">Violazione trendline per "Borsa Italiana"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#three" data-turbolinks="false">Violazione trendline per "La Repubblica"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#four" data-turbolinks="false">Indicazioni da "Milano Finanza"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#five" data-turbolinks="false">Indicazioni da "Il Sole 24 Ore"</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#six" data-turbolinks="false">Indicazioni da "Investing.com"</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#seven" data-turbolinks="false">Violazione trendline studi personali</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#eight" data-turbolinks="false">Rafforzamento del trend in atto</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#nine" data-turbolinks="false">Cambiamento del trend in atto</a>
        </li>
    </ul>
</aside>
