<aside class="widget">
    <h3 class="widget-title">Vai al filtro:</h3>
    <ul id="filters-links">
        <li>		
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#one" data-turbolinks="false" title="Filtra i titoli azionari con segnale &quot;Violazione trendline&quot; per &quot;Borsa Italiana&quot;">Violazione trendline per "Borsa Italiana"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#two" data-turbolinks="false" title="Filtra i titoli azionari con segnale &quot;Violazione trendline&quot; per &quot;Il Sole 24 Ore&quot;">Violazione trendline per "Il Sole 24 Ore"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#three" data-turbolinks="false" title="Filtra i titoli azionari con segnale &quot;Violazione trendline&quot; per &quot;La Repubblica&quot;">Violazione trendline per "La Repubblica"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#four" data-turbolinks="false" title="Filtra i titoli azionari con valutazione positiva per &quot;Milano Finanza&quot;">Indicazioni da "Milano Finanza"</a>
        </li>
        <li>
        	<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#five" data-turbolinks="false" title="Filtra i titoli azionari con valutazione positiva per &quot;Il Sole 24 Ore&quot;">Indicazioni da "Il Sole 24 Ore"</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#six" data-turbolinks="false" title="Filtra i titoli azionari con analisi tecnica positiva per &quot;Investing.com&quot;">Indicazioni da "Investing.com"</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#seven" data-turbolinks="false" title="Filtra i titoli azionari con valutazione positiva secondo le tue analisi">Violazione trendline studi personali</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#eight" data-turbolinks="false" title="Filtra i titoli azionari con valutazione positiva secondo le tue analisi">Rafforzamento del trend in atto</a>
        </li>
		<li>
			<i class="fa fa-filter"></i>&nbsp;&nbsp;<a href="#nine" data-turbolinks="false" title="Filtra i titoli azionari con valutazione positiva secondo le tue analisi">Cambiamento del trend in atto</a>
        </li>
    </ul>
</aside>
