<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <h1>Editing Study</h1>
                <%= render 'form', study: @study %>
                <%= link_to 'Show', @study %> |<%= link_to 'Back', studies_path %>
            </section>
        </div>
    </div>
</main>
