<% title $appDescription %>
<% meta_tag :description, 'Trading Radar - Cos\'&egrave; e come funziona' %>
<% meta_tag :keywords, 'trading, radar, principi, funzionamento, rassegna, stampa, titoli, azioni, analisi, segnali ' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

	
		
<main id="main" class="site-main " role="main">
    <div id="content" class="site-content container">
	    <div class="container main-content-area">
	        <div class="row pull-left">
	            <section id="primary" class="widget-area col-sm-12" role="complementary">
	                <header class="entry-header page-header">
					    <h1 class="entry-title">
					    	<%= $appName %>					        
					    </h1>
						<small>
							<%= $appDescription %>	
						</small>
					</header>
					<section>
						
						<h2>Cosa?</h2>
						<p>Ogni ora Trading Radar scandaglia il Web alla ricerca di informazioni circa la situazione tecnica dei titoli azioniari della <strong>Borsa di Milano</strong>.</p>
						<p>Attraverso questi dati &egrave; possibile ricostruire una <strong>analisi aggiornata</strong> di ogni titolo ed elaborare dei filtri che elencano le <strong>azioni di borsa pi&ugrave; interessanti</strong> in quel dato momento. <br/>Per ogni titolo, inoltre, &egrave; disponibile una <strong>rassegna stampa</strong> in tempo reale che dar&agrave; una pi&ugrave; completa panoramica anche dal punto di vista dell'analisi fondamentale elencando: notizie, dividendi, rating di agenzie, dati finanziari e i link alla pagina originaria.</p>
						
						<h2>Dove?</h2>
						<p>Le fonti utilizzate per attingere i dati tecnici, i rating e le ultime notizie sono i principali media online del settore finanziario.</p>
						<p>Queste fonti sono:</p>
						<ul>
							<li>Borsa Italiana</li>
							<li>Il Sole 24 Ore</li>
							<li>La Repubblica Affari e Finanza</li>
							<li>Milano Finanza</li>
							<li>Investing.com</li>
							<li>Soldi On Line</li>
						</ul>

						<h2>Come?</h2>
						<p>Ad intervalli regolari, durante tutto l'orario di apertura della Borsa di Milano, il software di Trading Radar legge la quotazione attuale di ogni titolo azionario ed i giudizi tecnici ottenuti dalle fonti informative elencate in precedenza. <br/>Confrontando questi dati &egrave; possibile estrapolare quelle azioni che al momento hanno una quotazione &quot;interessante&quot; da punto di vista tecnico.</p>
						<p>Per esempio: se Il Sole 24 Ore dice che il titolo Saipem ha come resistenza 4.00 &euro;, appena il software rileva una quotazione superiore	indicher&agrave; Saipem come titolo "interessante" e la inserir&agrave; nel filtro &quot;Violazione trendline&quot; tabella &quot;Resistenza&quot; del Sole 24 Ore.</p>						
						<p>Ci sono filtri che prescindono dalla quotazione attuale ed elencano titoli &quot;interessanti&quot; in base al giudizio del media di origine.</p>
						<p>Per esempio: se Investing.com giudica il titolo Saipem come &quot;Compra subito&quot; nella fascia temporale giornaliera e mensile, il nostro software far&agrave; apparire Saipem all'interno del filtro &quot;Indicazione dai media&quot; di Investing.com.
						<br/>Per avere una idea di questa tabella visitare: <a href="https://it.investing.com/equities/eni">https://it.investing.com/equities/eni</a> sezione &quot;Sommario tecnico&quot;</p>

						<h2>Perch&eacute;?</h2>
						<p>Trading Radar serve ad avere <strong>spunti</strong>, <strong>suggerimenti</strong> o <strong>segnali operativi di trading</strong>. In pochi istanti &egrave; possibile avere una idea di massima	sia della <strong>situazione tecnica</strong> che della <strong>situazione fondamentale</strong> di ognuno dei titoli presi in esame.</p>
						<p>Quanto tempo ci vorrebbe se per un singolo titolo della Borsa dovessi visitare anche solamente i 6 siti Web che utilizziamo come sorgente per Trading Radar?<br/>
						Tra caricamenti di home page, trovare la pagina del titolo di interesse, chiusura dei popup pubblicitari si perde circa 1 minuto e mezzo per ogni sito.<br/>
						Moltiplicate per sei... e per ogni titolo del FTSE All Share (un paniere con pi&ugrave; di 200 azioni).</p>
						<p>Agenda Trading effettua questo lavoro per noi, pi&ugrave; volte al giorno, elencandoci gi&agrave; i titoli pi&ugrave; interessanti.<br/><br/>
						
						<i>Il valore aggiunto &egrave; il tempo risparmiato...</i> </p>

						<h2>Quali? <small>(titoli)</small></h2>
						<p>Lo scopo &egrave; quello di coprire tutti i titoli del paniere FTSE All Share della Borsa di Milano.<br/>
						Attualmente il progetto &egrave; alle prime battute e i titoli in esame sono solo quelli del paniere FTSE MIB: i 40 titoli a maggiore capitalizzazione.</p>

						<h2>Chi?</h2>
						<p>Mi chiamo Marco e sono uno sviluppatore Web.<br/>
						Da diversi anni mi interesso di trading e sono giunto alla conclusione che il vero problema del trader &egrave; la sovrabbondanza di informazione. Ho, quindi, elaborato questo software per poter poter tenere traccia della mutevole situazione borsistica in maniera efficente ed efficace.<br/>
						Trovo questo strumento molto utile alla mia attivit&agrave;, spero lo sia anche per te.<br/><br/></p>					
						<p>Se vorrai darmi un tuo giudizio, ne sarei grato.<br/>
						Scrivimi a <a href="mailto:marco@tradingradar.net?subject=feedback">questo</a> indirizzo mail. Ti prometto che risponder&ograve; il prima possibile</p>
					</section>
	            </section>	            	            
	        </div>
	    </div>
    </div>
</main>