<% title $appDescription + ' | Cos\'è Trading Radar?' %>
<% meta_tag :description, 'Trading Radar - Analisi, suggerimenti di acquisto e vendita, notizie sui titoli azionari del Mercato Italiano' %>
<% meta_tag :keywords, 'analisi, spunti, suggerimenti, trading, acquisto, vendita, notizie, rassegna, stampa, mercato, italiano, MTA, FTSE, MIB' %>
<% meta_tag :robots, 'index, follow' %>
<% meta_tag :author, $author + ' - ' + $authorMail %>

	
		
<main id="main" class="site-main " role="main">
    <div id="content" class="site-content container">
	    <div class="container main-content-area">
	        <div class="row pull-left">
	            <section id="primary" class="widget-area col-sm-12" role="complementary">
	                
	            </section>	            
	            <section class="section">
	                <div class="keywords">
	                    Keywords: <%= yield_meta_tag(:keywords) %>
	                </div>
	            </section>
	        </div>
	    </div>
    </div>
</main>