<main id="main">
	<div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">	                
                
                <h2>Edit Post</h2>

                <%= render "posts/form" %>
            
            </section>
        </div>
	</div>
</main>
