<main id="main" class="site-main" role="main">
	<div id="content" class="site-content container">
	    <div class="container main-content-area">
	        <div class="row">
	            <section id="primary" class="widget-area col-sm-12 col-md-12" role="complementary">	                
                    
                    <h2>Edit Post</h2>

                    <%= render "posts/form" %>
                
	            </section>
	        </div>
	    </div>
	</div>
</main>
