<main id="main">
    <div id="content" class="container">
        <div class="row">
            <section id="primary" class="col-sm-12">
                <h1>Editing Market</h1>
                <%= render 'form', market: @market %>
                <%= link_to 'Show', @market %> |<%= link_to 'Back', markets_path %>
            </section>
        </div>
    </div>
</main>
