@import "partials/reset";
@import "partials/variables";
@import "partials/utilities";
@import "partials/animations";
/*Project variables*/
$maxCentralColumnWidth: 100%;
$centralColumnWidth: 100%;
$pageMargin: 12px;
$paragraphMargin: 10px;
$titleColor: $highlight;
$firstBGColor: $white;
$secondBGColor: $light-gray;
$textColor: $black;
$fontFamilyTitle: Arial, Helvetica, sans-serif;
$fontFamily: Arial, Helvetica, sans-serif;
$fontSizeDesktop: 12px;
$fontSizeMobile: 12px;
/*Project variables*/


body {
  font-family: sans-serif;
  color: $black;
}

#main-wrapper {
  width: $maxCentralColumnWidth;
  margin: 0 auto;
  font-family: $fontFamily;
  font-size: $fontSizeDesktop;
  color: $textColor;
  position: relative;
  overflow: hidden;
  background-color: $firstBGColor;

  p {
    margin-bottom: $paragraphMargin;
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 100%;
  }

  .section {
    padding: 0 $pageMargin;
  }

  .btn {
    @extend .btn;

    font-family: $fontFamilyTitle;

    .primary {
      @extend .primary;
    }

    .secondary {
      @extend .secondary;
    }

    .right_arrow {
      text-indent: -99999px;
      background: url("../img/arrow-white.png") no-repeat;
    }
  }
  
  .not-implemented {
  	opacity: 0.1;
  }
  .implemented {
  	opacity: 1;
  }

  .title {
    font-family: $fontFamilyTitle;
    font-size: $font-huge;
	margin-bottom:20px;
  }

  .subtitle {
    text-align: center;
    font-family: $fontFamilyTitle;
    font-size: $font-larger;
  }

  .text {
    margin: 0 0 $pageMargin 0;
    line-height: 128%;
    text-align: justify;
  }
  
  .section {
  	margin: 30px 0;
  }

  header {
    padding-top: 10px;
  }

  h1 {
  	@extend .title;
	font-size: $font-largest;
  }

  h2 {
  	@extend .title;
  }

  h3 {}  
  
  
  .img-logo-small {
  	max-height: 25px;
    vertical-align: middle;
  } 
  
  	/*Overwrite tablesorter rules*/
	@import "partials/tablesorter-overwrite";  	
	/*Overwrite tablesorter rules*/
	
	/*Overwrite genterella rules*/
	@import "partials/genterella-overwrite";
	/*Overwrite genterella rules*/
	
	
	/*Left column*/
	.profile_info {
	    padding: 17px 10px 10px;
		text-align: right;
		
		h2 {
			display:inline-block;
		}
	}
	/*Left column*/
	
	/*Top section*/
	.top_nav {
		
		.navbar-right {
			width: inherit;
		}
		
	}		
	/*Top section*/
	
	/*Footer*/
	footer {
		.pull-right {
			color: #2A3F54;
			margin: 0px 20px 0 0;
    		line-height: 29px;
		}
	}
	/*Footer*/
	
	
	
	/*Index page*/
	@import "partials/home";
	/*Index page*/
	
	
	/*Analisis page*/
	@import "partials/analysis";
	/*Analysis page*/
	
	
	/*Study page*/
	@import "partials/study";
	/*Study page*/
	
	
	
	/*Sign up*/
	@import "partials/signup-login";	
	/*Sign up*/
	
}

//Advanced features support
.cssanimations {
  #main-wrapper {}
}

.svg {
  #main-wrapper {}
}

.video {
  #main-wrapper {}
}

.textshadow {
  #main-wrapper {}
}

.hsla {
  #main-wrapper {}
}

//Advanced features support

//Media queries
/* Custom */
@media only screen and (min-width: 320px) {
  #main-wrapper {}
}

@media only screen and (min-width: 360px) {
  #main-wrapper {}
}

@media only screen and (min-width: 375px) {
  #main-wrapper {}
}

@media only screen and (min-width: 412px) {
  #main-wrapper {}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  #main-wrapper {}
}

@media only screen and (min-width: 568px) {
  #main-wrapper {}
}

@media only screen and (min-width: 640px) {
  #main-wrapper {}
}

@media only screen and (min-width: 667px) {
  #main-wrapper {}
}

@media only screen and (min-width: 732px) {
  #main-wrapper {}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #main-wrapper {}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #main-wrapper {}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #main-wrapper {}
}

/* Mobile landscape orientation */
@media phone and (orientation: landscape) {}

@media tablet and (orientation: landscape) {}

//Media queries

/*Device specific rules*/
.ipad {
  #main-wrapper {}
}

/*Device specific rules*/
