<h2>Suggestions from <img src="/images/investing-logo.png" title="Investing" alt="Logo Investing" class="img-logo-small" /></h2>

<%if !@suggestionsFromInvestingDotCom.nil? %>
<table class="tablesorter">
	<caption>investing.com</caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Last price
            </th>		
        </tr>
    </thead>
    <tbody>
        <% @suggestionsFromInvestingDotCom.each do |stock| %>
        <tr class="<%= cycle('even', 'odd') -%>">
            <td>
                
				<%= link_to "#{stock['name']}", stock_page_index_path(isin: "#{stock['isin']}") %>
            </td>
            <td>
                <%= "#{stock['last_price']}" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
	<table class="tablesorter">
		<tbody>
			<tr>
				<td span="5">
					No data
				</td>
			</tr>
		</tbody>
	</table>
<% end %>
