<div class="container body">
    <div class="main_container">
        <%= render("shared/left_col") %>
        <%= render("shared/top_nav") %>
        <div class="right_col" role="main">
           
            
            <%= render("shared/footer") %>
        </div>
    </div>
